h3,h1{
    text-align: center;
}

.board{
    height: 500px;
}
.board .row{
    height: 30%;
    margin: 10px;
}
.board .square{
    width: 30%;
    height: 100%;
    background-color: chocolate;
    cursor: pointer;
}

.mole {
    border-radius: 50%;
    background-color: rgb(165, 180, 135) !important;
}